name: First GitHub Action

on:
  push:
    branches: [ main ]

jobs:
  test-job:
    runs-on: ubuntu-latest

    steps:
      - name: Print Message
        run: echo "Hello Prachi! Your first GitHub Action is running!"
